DB_URL=jdbc:mysql://127.0.0.1:3306/paike?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
DB_USERNAME=root
DB_PASSWORD=root
JWT_SECRET=replace_with_a_strong_secret
JWT_EXPIRATION_MS=86400000
